
.wrapper{
    display: flex;
    flex-direction: row;
}
.current-cluster{
 background: #2f89fc;
}
.appointment-form{
    font-size: 16px;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}