
.wrapper{
    display: flex;
    flex-direction: row;
}
.current-cluster{
 background: #2f89fc;
}
.appointment-form{
    font-size: 16px;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.form{
    width: 80%;
    margin: auto;
    padding: 3%;
}
.form-control{
    font-size: 16px;
}
.form label{
    font-weight: bold;
}
.alert{
    width: 80%;
    margin: auto;
}
.officer-view{
    font-size: 20px;
}