
.wrapper{
    display: flex;
    flex-direction: row;
}
.current-cluster{
 background: #2f89fc;
}
.appointment-form{
    font-size: 16px;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.form{
    width: 80%;
    margin: auto;
    padding: 3%;
}
.form-control{
    font-size: 16px;
}
.form label{
    font-weight: bold;
}
.alert{
    width: 80%;
    margin: auto;
}
.officer-view{
    font-size: 20px;
}
.text{
    width: 100%;
    padding: 1%;
    outline: 1px solid rgb(188, 30, 146);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(188, 30, 146);
}
.text:focus{
    box-shadow: 2px 2px 20px rgb(188, 30, 146);
}
.inline {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
a:link {
    text-decoration: none;
    font-size: 1em;
}
.text{
    outline: 0;
    box-shadow: 0 0 0;
  
}
.prisoner-view{
    font-size: 1em;
}
.text-size{
    font-size: .75em;
}
